{{> dashboard/createNewPost}}
{{> dashboard/editPost}}

<div id="postContainer" class="w-screen h-[calc(100vh-(128px+8px+8px+32px+8px))] overflow-y-auto flex flex-col items-center gap-y-2 mt-2">
  {{#each posts}}
  <div id="{{this.id}}" data-content="{{this.content}}" class="w-11/12 bg-gray-600 text-white flex justify-between rounded-lg h-8 min-h-8 items-center px-4">
    <p data-name="title">{{this.title}}</p>
    <p>{{this.date}}</p>
  </div>
  {{/each}}
</div>

<button id="newPostBtn" class="bg-amber-950 text-green-200 w-fit mx-auto h-8 my-2 px-4 rounded-lg">New Post</button>

<script src="/js/dashboard.js" defer></script>