 <div class="w-11/12 border-4 border-amber-950 h-fit my-4">
    <div class="w-full bg-amber-950 flex justify-between items-center">
        <h2 class="text-green-200 text-xl ml-2">Why MVC is so important</h2>
        <p class="text-green-200 text-xs mr-2">Posted by Xandromus on 5/8/2020</p>
    </div>
    <p class="text-amber-950 m-4">
        MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.
    </p>
 </div>