<div class="w-11/12 border-4 border-amber-950 h-fit my-4">
  <div class="w-full bg-amber-950 flex justify-between items-center">
      <h2 class="text-green-200 text-xl ml-2">Login</h2>
  </div>
  <form action="/login" method="post" class="text-amber-950 m-4">
    <h3 class="text-lg">Username</h3>
    <input type="text" name="username" class="w-full text-base text-black h-8 focus:outline-none pl-1">

    <h3 class="text-lg mt-4">Password</h3>
    <input type="password" name="password" class="w-full text-base text-black h-8 focus:outline-none pl-1">

    {{#if showIsWrong}}
    <p class="text-red-600 text-xs">Username or password is wrong.</p>
    {{/if}}

    <input type="submit" value="Login!" class="w-full text-lg text-white bg-gray-600 mt-4 py-1 rounded">

    <a href="/signup" class="text-blue-600">Sign up instead</a>
  </form>
</div>